.sig-cursor {
    cursor: pointer;
}

.sig-underline {
    text-decoration: underline;
}

.dataTables_filter {
    text-align: left;
    float: left;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.dataTables_length {
    text-align: right;
    float: right;
}

.dataTables_paginate {
    text-align: right;
    float: right;
}

.dataTables_info {
    text-align: left;
    float: left;
}

.divider {
    border-bottom: 0.3px solid #e0e0e0;

}

.sig-msgs {
    text-align: left;
}

.js-validate em {
    text-align: left;
}

.dataTables_filter {
}

@media (max-width: 768px) {
    .btn-responsive {
        padding: 8px 4px;
        font-size: 85%;
        line-height: 1;
        border-radius: 3px;
    }
}

/*color picker*/
.siga-input-group-addon {
    padding: 6px 6px !important;
}

.colorpicker-element .add-on i, .colorpicker-element .input-group-addon i {
    height: 17px !important;
    width: 30px !important;
}

/*Componente de exibição da cor no dialog de detalhes de Item de estoque*/

.siga-component-color {
    width: 80px;
    height: 30px;
    padding: 4px 4px;
    border: solid 0.1px;
    border-color: #9E9E9E;

}

.siga-img {
    padding-right: 8px;
}

/*Grid usado em peças*/

/**Remove o negrito da label da view **/
.siga-removeBold {
    font-weight: normal;
}

.well {
    margin-bottom: 0px !important;
}

.siga-textcenter {
    text-align: center;
}

.siga-selectedlinhatable {
    background-color: #CDC9C9 !important;
}

/*teste*/

.row.header .user > .item a {
    color: #919191;
    display: block;
}

.row.header .user > .item .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-right: none;
    border-left: none;
}

.row.header .user > .item .list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

.row.header .user > .item i {
    color: #fff;
    line-height: 50px;
}

.siga-dropdown-menu {
    height: 74px !important;
    border-radius: 2px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05) !important;
    width: 280px !important;
    padding: 0 0 0 0 !important;
    margin: 0 !important;
    top: 100% !important;
}

.dropdown-menu .dropdown-header {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #ffffff !important;
    padding: 7px 10px !important;
    color: #444444 !important;
    font-size: 14px !important;
}

.img-catalogo{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 250px;
    min-height: 250px;
}